body {

}
.wrapper {

height: 100vh;
display: 100vw;
}
/* this is for nav bar */
.navbar {
 position: relative;
  height: 50px;
  
}
.navbar h1 {
  text-align: center;
  position: sticky;
}

.navbar h3 {
  text-align: center;
  position: sticky;
}

/* this is for the hero */
.hero {
  height: 600px;
  padding-top:40px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-container {
  padding: 15px;
}
.hero-container h3 {
 padding-bottom: 2px;
}

.hero-container .btn-input {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}

.hero-container  .input-name {
    width: 300px;
    height: 40px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.display {
  height: 600px;
  background-color: yellow;
}

.moviecard {
  height: 300px;
  width: 350px;
  
  /* background-color: red; */
  /* display: flex; */
  /* justify-content: center; */
  border: 1px solid black;
}
.moviecard img {}
.card-moviecard {
  display: flex;
  /* justify-content: space-around; */
}
/* this is for the movie card */
.movie-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 250px;
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-detail {
  padding: 5px;
}


/* this is for the movie card */
.card-container {
  border: 1px sold black;
}

.moviecard img {
  height: 250px;
  width: auto;

}