body {

}
.wrapper {

height: 100vh;
display: 100vw;
}
/* this is for nav bar */
.navbar {
 position: relative;
  height: 50px;
  
}
.navbar h1 {
  text-align: center;
  position: sticky;
}

.navbar h3 {
  text-align: center;
  position: sticky;
}

/* this is for the hero */
.hero {
  height: 600px;
  padding-top:40px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-container {
  padding: 15px;
}
.display {
  height: 600px;
  background-color: yellow;
}

.moviecard {
  height: 300px;
  width: 350px;
  /* background-color: red; */
  /* display: flex; */
  /* justify-content: center; */
  border: 1px solid black;
}
.card-moviecard {
  display: flex;
  /* justify-content: space-around; */
  gap: 20px;

}
.card-container {
  border: 1px sold black;
}

.moviecard img {
  height: 250px;
  width: auto;

}